{% extends "code_helpers/base.html" %}
{% block content %}
    <div class="about-container">
        
        <div class="left-about-container">
            <h1>Join us in this community to live the feeling of helping</h1>
            <h2>Be a code helper or ask for help! Go through your difficulties and find for ways, everyone has the ability to do everything...</h2>
        </div>
        
        <div class="right-about-container">
            <img src="../../../media/logo.png">
        </div>

        <div class="bottom-about-container">
            <h3>Made by Lorenzo Windmoller Martins</h3>
        </div>
        
    </div>
{% endblock content %}