{% extends "code_helpers/base.html" %}
{% block content %}
    <div class="content-delete-section">

        <form method="POST">
            {% csrf_token %}
            <h2 class="text-delete">Are you sure you want to delete the post "{{ object.title }}"</h2>
            
            <div class="form-group-delete-confirmation">
                <button type="submit">Yes, Delete</button>
                <a href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>

    </div>
{% endblock content %}