<div class="signin">
  <div class="main-container">
    <div class="sub-container">
      <div class="left-container">
        <div class="signin-form">
          <h1>Sign In</h1>

          <div class="inputs">
            <div class="email-input">
              <label>Email:</label>
              <input [(ngModel)]="user.email" type="email" placeholder="email"/>
            </div>

            <div class="password-input">
              <label>Password:</label>
              <input [(ngModel)]="user.password" type="password" placeholder="password"/>
            </div>
          </div>

          <button>Login</button>
          <h2>Don't have an account? <b routerLink="/signup">Sign up!</b></h2>
        </div>
      </div>

      <div class="right-container">
        <div class="logo-container">
          <img src="../../assets/logo.png">
        </div>
      </div>
    </div>
  </div>
</div>
